body {
    margin: 0;
    padding: 0;
}
main {
    background-color:  rgb(242, 241, 253);
    padding-bottom: 20px;
    width:90%;
    margin: auto;
}
footer {
    text-align: center;
    background-color: #013A5B;
    color: rgb(242, 241, 253);
    padding: 10px;
}


.navbar {
    background-color: #013A5B;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin: 0;
}


[alt="logos"] {
    width: 50%;
}

input[type=submit],input[type=reset] {
	background-color:#013A5B;
	color: white;
	padding:10px 20px;
	border-radius: 3px;
	border: 0;
}


/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


#table-id_wrapper {
	width:100%;
	padding: 0 10px;
}



