<?xml version="1.0" encoding="UTF-8"?>
<!--  <Configuration>
  <Appenders>
    <RollingFile name="RollingFile" fileName="logs/myapp.log" filePattern="logs/myapp-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>-->

<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="RollingFile" fileName="/Users/fran/Documentos/WS_Java/tema9_mundo_web/logs/myapp.log"
                 filePattern="logs/myapp-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="org.thymeleaf" level="error" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="debug">
      <!-- <AppenderRef ref="Console"/> -->
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>


